@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fondamento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>@ViewBag.Title - Passport Grant County</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding: 0;">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark" id="topNav">
        @Html.ActionLink("Passport Grant County", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Road Maps", "Index", "RoadMaps", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Experiences", "Index", "Experiences", null, new { @class = "nav-link" })</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink("My Stamps", "Index", "MyStampss", null, new { @class = "nav-link" })</li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">@Html.ActionLink("Admin Tools", "Index", "AdminContent", null, new { @class = "nav-link" })</li>
                }
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>

    @model PassportGrantCounty.Models.RegisterViewModel
    @{
        ViewBag.Title = "Register";
    }

    <div style="        background-color: #0a3c81;">
        <div class="container">
            <div class="row loginCardContainer">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 loginCard">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card" style="border: 1px solid #C1110A;">
                            <div class="card-header">
                                <h4>Register</h4>
                            </div>
                            <div class="card-body">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group row loginInput">
                                    <div class="col-10 offset-1">
                                        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                    </div>
                                </div>
                                <div class="form-group row loginInput">
                                    <div class="col-10 offset-1">
                                        @Html.LabelFor(m => m.UserName, new { @class = "sr-only" })
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name" })
                                    </div>
                                </div>
                                <div class="form-group row loginInput">
                                    <div class="col-10 offset-1">
                                        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    </div>
                                </div>
                                <div class="form-group row loginInput">
                                    <div class="col-10 offset-1">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="offset-1 col-md-10 loginInput">
                                        <input type="submit" value="Register" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <p style="margin-bottom: 0;" class="nav-link">
                                    @Html.ActionLink("Existing user? Log in here", "Login")
                                </p>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}