@model PagedList.IPagedList<Passport.Models.ExperienceModels.ExperienceListModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="pageTitle adminTitle">
    <h1>Experiences</h1>
</div>

<div class="container-md">
    <div class="row">
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="offset-lg-1 col-5">
                <div class="indexCreateLink">
                    <button type="button" value="createExperience" class="btn btn-primary">@Html.ActionLink("Create an Experience", "Create", "Experience")</button>
                </div>
            </div>
            <div class="col-lg-5 col-7">
                <div class="searchBar">
                    @using (Html.BeginForm("Index", "Experience", FormMethod.Get))
                    {
                        <div class="input-group">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", style = "border-color: #FFBC0A;", placeholder = "Search ... " })
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-11 col-12">
                <div class="searchBar">
                    @using (Html.BeginForm("Index", "Experience", FormMethod.Get))
                    {
                        <div class="input-group">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", style = "border-color: #FFBC0A;", placeholder = "Search ... " })
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
    </div>



    <div class="row">
        <div class=" col-lg-10 offset-lg-1">
            <table class="table">
                <tr>
                    <th>
                        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter }, new { @class = "linkStandard" })
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Details", new { ExperienceId = item.ExperienceId }, new { @class = "linkStandard" })
                        </td>
                        <td class="listButtonsContainer">
                            <div class="listButtons">
                                <ul class="horizontalList">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <li><button type="button" class="btn btn-cancel btn-sm deleteItem indexButton" data-id="@item.ExperienceId"><i class="far fa-trash-alt"></i></button></li>
                                        <li><button type="button" class="btn btn-primary btn-sm indexButton"><a href="/Experience/Details/@item.ExperienceId"><i class="fas fa-info"></i></a></button></li>
                                        <li><button type="button" class="btn btn-primary btn-sm indexButton"><a href="/Experience/Edit/@item.ExperienceId"><i class="fas fa-edit"></i></a></button></li>
                                    }
                                    else
                                    {
                                        <li><button type="button" class="btn btn-primary btn-sm indexButton"><a href="/Experience/Details/@item.ExperienceId"><i class="fas fa-info"></i></a></button></li>
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteItem').on('click', function () {
                var itemId = $(this).attr('data-id');
                var message = confirm('Are you sure you wish to delete this item?');
                if (message) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Experience")',
                        data: { itemId },
                        success: function () {
                            setTimeout(function () { location.reload(); }, 1000);
                        },
                        error: function () {
                            alert('Unable to delete item');
                        }
                    })
                }
            })
        })
    </script>

}